/ppmclab.tsv
/pspire.csv
/phasepdb_mlo.csv
/phasepdb_pdps.csv
/phasepdb_ps_test.csv
/phasepdb_pdps_test.csv
/pspire_mlo.csv
/phasepdb_nops_test.csv
/phasepdb_nops.csv
/phasepdb_saps.csv
/phasepdb_saps_test.csv
/BIOGRID-ALL-4.4.246.tab3.zip
/BIOGRID-ALL-4.4.246.tab3.txt
/catgranule2.csv
